<main>
    <h2>To-Do List</h2>
    <input type="text" id="taskInput" placeholder="Enter task...">
    <select id="priorityInput">
        <option value="low">Low</option>
        <option value="normal" selected>Normal</option>
        <option value="high">High</option>
    </select>
    <button id='add-task-btn' onclick="addTask()">Add Task</button>
    <table id="todoTable">
        <tr>
            <th>Task</th>
            <th>Date Added</th>
            <th>Priority</th>
            <th>Done</th>
        </tr>
        <% tasks.forEach((task, index)=> { %>
            <tr id="task-row-<%= index %>" class="<%= task.done ? 'done' : 'not-done-' + task.priority %>"
                data-priority="<%= task.priority %>">
                <td>
                    <%= task.task %>
                </td>
                <td>
                    <%= task.date %>
                </td>
                <td>
                    <%= task.priority %>
                </td>
                <td><input type="checkbox" <%=task.done ? 'checked' : '' %> onchange="toggleTask(<%= index %>)"></td>
            </tr>
            <% }); %>
    </table>
</main>

<script>
    function toggleTask(index) {
        const taskRow = document.getElementById(`task-row-${index}`);
        taskRow.classList.toggle('done');

        if (taskRow.classList.contains('done')) {
            taskRow.classList.remove('not-done-high', 'not-done-normal', 'not-done-low');
        } else {
            const priority = taskRow.getAttribute('data-priority');
            taskRow.classList.add(`not-done-${priority}`);
        }
    }
</script>